# H1 TITLE
<h2>H2 TITLE<h2>

In [1]:
print("Buy the dip ?")

Buy the dip ?

The objective of this exercise is to familiarize yourself with incorporating various Python data types into NumPy arrays. NumPy arrays play a vital role in both NumPy and Pandas, offering flexibility and optimized functionalities.

1. Create a NumPy array that contains: an integer, a float, a string, a dictionary, a list, a tuple, a set and a boolean. Add the following code at the end of your python file or in a cell of the jupyter notebook:

In [2]:
import numpy as np

In [6]:
your_np_array=np.array([2,5.4,"str", {"dict":"b"}, ["list", "banana", "cherry"], ("tuple", "banana", "cherry"), {"set", "banana", "cherry"}, True], dtype=object)

In [7]:
for i in your_np_array:
    print(type(i))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'dict'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'bool'>

The goal of this exercise is to learn to create a NumPy array with 0s.

1. Create a NumPy array of dimension 300 with zeros without filling it manually
2. Reshape it to (3,100)

In [2]:
arr1=np.zeros(300,dtype=int)

In [9]:
print(arr1)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0]

In [6]:
arr1=np.append(arr1, np.zeros(2800,dtype=int))

In [7]:
arr1.shape

(3100,)

The goal of this exercise is to learn NumPy indexing/slicing. It allows to access values of the NumPy array efficiently and without a for loop.

1. Create a NumPy array of dimension 1 that contains all integers from 1 to 100 ordered.

2. Without using a for loop and using the array created in Q1, create an array that contain all odd integers. The expected output is:

In [8]:
arr2=np.arange(1,101)
print(arr2)

[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100]

In [9]:
arr_odd=np.arange(1,101,2)
print(arr_odd)

[ 1  3  5  7  9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47
 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95
 97 99]

3. Without using a for loop and using the array created in Q1, create an array that contain all even integers reversed. The expected output is:

In [16]:
arr_even=np.arange(100,1,-2)
print(arr_even)

[100  98  96  94  92  90  88  86  84  82  80  78  76  74  72  70  68  66
  64  62  60  58  56  54  52  50  48  46  44  42  40  38  36  34  32  30
  28  26  24  22  20  18  16  14  12  10   8   6   4   2]

4. Using array of Q1, set the value of every 3 elements of the list (starting with the second) to 0. The expected output is:

In [17]:
arr2[1:100:3]=0
print(arr2)

[  1   0   3   4   0   6   7   0   9  10   0  12  13   0  15  16   0  18
  19   0  21  22   0  24  25   0  27  28   0  30  31   0  33  34   0  36
  37   0  39  40   0  42  43   0  45  46   0  48  49   0  51  52   0  54
  55   0  57  58   0  60  61   0  63  64   0  66  67   0  69  70   0  72
  73   0  75  76   0  78  79   0  81  82   0  84  85   0  87  88   0  90
  91   0  93  94   0  96  97   0  99 100]

Random Generator

1. Set the seed to 888
2. Generate a one-dimensional array of size 100 with a normal distribution
3. Generate a two-dimensional array of size 8,8 with random integers from 1 to 10 - both included (same probability for each integer)
4. Generate a three-dimensional of size 4,2,5 array with random integers from 1 to 17 - both included (same probability for each integer)

In [18]:
np.random.seed(888)

In [19]:
arr_rand=np.random.randn(100)
print(arr_rand)

[-1.76200874e-01  1.88876361e-01  8.26747180e-01 -3.24473146e-02
 -6.52499418e-01 -1.05339382e-01  2.17776116e-01  5.87281504e-01
  1.00237892e-01 -1.09994668e+00 -2.55305389e-01  4.05304381e-01
  1.62663953e-01  1.04163462e+00  2.24324184e-01  6.99304449e-01
 -8.65543512e-01 -1.39346831e+00 -2.36687913e-01 -7.57041911e-01
  1.31429195e+00 -9.77385899e-01 -3.59032576e-01  1.16141585e-01
 -3.51081138e-01 -4.39838344e-01 -4.90995473e-02 -4.31596770e-01
 -1.08875099e+00 -2.31088106e+00 -1.86236420e+00  2.34708674e-01
 -8.95585921e-01 -5.40834525e-01 -4.02399061e-01  2.31458561e-02
  1.77688506e-01 -5.73309272e-01 -3.38392138e-01 -2.64422114e-03
  1.44930339e+00  1.36605641e+00  2.69187461e+00  6.76065035e-01
 -1.06098418e+00  1.31845313e-01  1.71934297e-01  8.88062794e-02
  1.03963016e+00 -1.37846942e-01 -3.69232844e-01  3.19587912e+00
  1.11457451e+00 -2.59516296e-01  1.48370897e+00 -1.57049065e+00
  9.78899330e-01  1.76070681e+00  3.53121953e-01 -3.08510762e-01
 -1.40481067e+00 -6.54547811e-01 -1.37791290e+00 -2.42605914e-01
 -1.17542916e+00  6.96400848e-01  2.84105779e-01 -1.01948195e+00
  1.09675079e+00  2.41646711e-01 -3.67039678e-01 -2.19894776e+00
  1.41872937e+00  2.20794136e-01  7.92524915e-01 -2.23775806e-01
 -6.96694068e-01 -9.17717925e-01 -1.47199487e+00  1.87770559e+00
  1.51033108e+00  1.18732817e-01  6.50728248e-01 -7.07655562e-01
  1.69862924e+00  1.34663117e+00  5.26657670e-01 -6.13561456e-01
 -1.79179012e-01 -1.28634991e+00  1.41675325e+00 -1.81351151e-01
 -1.02037575e-01 -6.03250569e-01  1.20489600e+00  9.62265746e-01
  8.61170433e-01  1.96244237e+00 -1.15548773e+00  3.45259423e-01]

In [20]:
arr_rand2=np.random.randint(1,11, size=(8,8))
print(arr_rand2)

[[ 9  8  4  6  9  1  3  2]
 [ 3  9  9  5  4  7  2  8]
 [ 5  6  9  1  1  6  8  7]
 [ 7  1  4  1 10  4  3  5]
 [ 5 10  1 10  7 10  6  1]
 [ 6  8  7  4  6 10  3  5]
 [ 4 10  7  9  9 10  9  9]
 [ 5  3  2 10  8  5  5  3]]

In [24]:
arr_rand3=np.random.randint(1,18, size=(4,2,5))
print(arr_rand3)

[[[ 5  2 13 16 15]
  [ 5  5  2 11  3]]

 [[ 8 13  6  4 17]
  [ 2  8  1 13 10]]

 [[12 17 17 12  1]
  [10  8 17  5 11]]

 [[ 9 14  2 15 13]
  [12 14  6 14  2]]]

The goal of this exercise is to learn to concatenate and reshape arrays.

1. Generate an array with integers from 1 to 50: array([1,...,50])

In [25]:
new_arr=np.arange(1,51)
print(new_arr)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50]

In [26]:
new_arr2=np.arange(51,101)
print(new_arr2)

[ 51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68
  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86
  87  88  89  90  91  92  93  94  95  96  97  98  99 100]

In [29]:
arr_cnct=np.concatenate((new_arr,new_arr2))
print(arr_cnct)

[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100]

In [36]:
new_shape=arr_cnct.reshape((10,10))
print(new_shape)

[[  1   2   3   4   5   6   7   8   9  10]
 [ 11  12  13  14  15  16  17  18  19  20]
 [ 21  22  23  24  25  26  27  28  29  30]
 [ 31  32  33  34  35  36  37  38  39  40]
 [ 41  42  43  44  45  46  47  48  49  50]
 [ 51  52  53  54  55  56  57  58  59  60]
 [ 61  62  63  64  65  66  67  68  69  70]
 [ 71  72  73  74  75  76  77  78  79  80]
 [ 81  82  83  84  85  86  87  88  89  90]
 [ 91  92  93  94  95  96  97  98  99 100]]

The goal of this exercise is to learn to access values of n-dimensional arrays efficiently.

1. Generate a 2-dimensional array of size 9x9, with all elements initialized to 1 and of type int8.

In [209]:
arr_2dim=np.ones((9,9),dtype="int8")
print(arr_2dim)

[[1 1 1 1 1 1 1 1 1]
 [1 1 1 1 1 1 1 1 1]
 [1 1 1 1 1 1 1 1 1]
 [1 1 1 1 1 1 1 1 1]
 [1 1 1 1 1 1 1 1 1]
 [1 1 1 1 1 1 1 1 1]
 [1 1 1 1 1 1 1 1 1]
 [1 1 1 1 1 1 1 1 1]
 [1 1 1 1 1 1 1 1 1]]

2. Using slicing, create the following array:

In [211]:
arr_2dim[1:8:2, 1:8] = 0 
arr_2dim[1:8, 1:8:2] = 0
arr_2dim[2:7:2, 2:7] = 1  
arr_2dim[2:7, 2:7:2] = 1
arr_2dim[3:6, 3:6:2] = 0
arr_2dim[3:6:2, 3:6] = 0

print(arr_2dim)

[[1 1 1 1 1 1 1 1 1]
 [1 0 0 0 0 0 0 0 1]
 [1 0 1 1 1 1 1 0 1]
 [1 0 1 0 0 0 1 0 1]
 [1 0 1 0 1 0 1 0 1]
 [1 0 1 0 0 0 1 0 1]
 [1 0 1 1 1 1 1 0 1]
 [1 0 0 0 0 0 0 0 1]
 [1 1 1 1 1 1 1 1 1]]

3. Using broadcasting create an output matrix based on the following two arrays:

In [230]:
array_1 = np.array([1,2,3,4,5], dtype=np.int8)
array_2 = np.array([1,2,3], dtype=np.int8)
result = array_1[:, np.newaxis] * array_2
print(result)

[[ 1  2  3]
 [ 2  4  6]
 [ 3  6  9]
 [ 4  8 12]
 [ 5 10 15]]

The goal of this exercise is to handle missing data in NumPy and manipulate arrays effectively.

Let's consider a 2-dimensional array containing grades from the last two exams. Some students missed the first exam, so their grades are replaced with NaN.

To simulate this scenario, we'll create a mock dataset using NumPy. Here's a snippet of code to generate this dataset:

In [244]:
generator = np.random.default_rng(123)
grades = np.round(generator.uniform(low = 0.0, high = 10.0, size = (10, 2)))
grades[[1,2,5,7], [0,0,0,0]] = np.nan
print(grades)

[[ 7.  1.]
 [nan  2.]
 [nan  8.]
 [ 9.  3.]
 [ 8.  9.]
 [nan  2.]
 [ 8.  2.]
 [nan  6.]
 [ 9.  2.]
 [ 8.  5.]]

1. Using np.where, create a third column that takes the grade of the first exam if available; otherwise, it uses the grade from the second exam. Add this column as the third column of the array.

In [280]:
cnct=(np.where(np.isnan(grades[:,0]), grades[:,1],grades[:,0])).reshape(-1,1)
print(cnct)

[[7.]
 [2.]
 [8.]
 [9.]
 [8.]
 [2.]
 [8.]
 [6.]
 [9.]
 [8.]]

In [284]:
fin= np.append(grades, cnct, axis=1)
print(fin)

[[ 7.  1.  7.]
 [nan  2.  2.]
 [nan  8.  8.]
 [ 9.  3.  9.]
 [ 8.  9.  8.]
 [nan  2.  2.]
 [ 8.  2.  8.]
 [nan  6.  6.]
 [ 9.  2.  9.]
 [ 8.  5.  8.]]

The goal of this exercise is to perform fundamental data analysis on real data using NumPy.

The dataset chosen for this task was the red wine dataset. You can find more info HERE

1. Load the data using genfromtxt, specifying the delimiter as ';', and optimize the numpy array size by reducing the data types. Use np.float32 and verify that the resulting numpy array weighs 76800 bytes.

In [127]:
data=np.genfromtxt("winequality-red.txt", dtype=np.float32,delimiter=";",)
print(data)

[[   nan    nan    nan ...    nan    nan    nan]
 [ 7.4    0.7    0.    ...  0.56   9.4    5.   ]
 [ 7.8    0.88   0.    ...  0.68   9.8    5.   ]
 ...
 [ 6.3    0.51   0.13  ...  0.75  11.     6.   ]
 [ 5.9    0.645  0.12  ...  0.71  10.2    5.   ]
 [ 6.     0.31   0.47  ...  0.66  11.     6.   ]]

In [313]:
data.nbytes

76800

2. Display the 2nd, 7th, and 12th rows as a two-dimensional array. Exclude np.nan values if present.

In [23]:
data_arr=data[2:13:5,:]
print(data_arr)

[[7.800e+00 8.800e-01 0.000e+00 2.600e+00 9.800e-02 2.500e+01 6.700e+01
  9.968e-01 3.200e+00 6.800e-01 9.800e+00 5.000e+00]
 [7.900e+00 6.000e-01 6.000e-02 1.600e+00 6.900e-02 1.500e+01 5.900e+01
  9.964e-01 3.300e+00 4.600e-01 9.400e+00 5.000e+00]
 [7.500e+00 5.000e-01 3.600e-01 6.100e+00 7.100e-02 1.700e+01 1.020e+02
  9.978e-01 3.350e+00 8.000e-01 1.050e+01 5.000e+00]]

In [27]:
d=data_arr[~np.isnan(data_arr).any(axis=1)]
print(d)

[[7.800e+00 8.800e-01 0.000e+00 2.600e+00 9.800e-02 2.500e+01 6.700e+01
  9.968e-01 3.200e+00 6.800e-01 9.800e+00 5.000e+00]
 [7.900e+00 6.000e-01 6.000e-02 1.600e+00 6.900e-02 1.500e+01 5.900e+01
  9.964e-01 3.300e+00 4.600e-01 9.400e+00 5.000e+00]
 [7.500e+00 5.000e-01 3.600e-01 6.100e+00 7.100e-02 1.700e+01 1.020e+02
  9.978e-01 3.350e+00 8.000e-01 1.050e+01 5.000e+00]]

3. Determine if there is any wine in the dataset with an alcohol percentage greater than 20%. Return True or False.

In [20]:
np.where(data[:,10]>20,True,False).any()

False

4. Calculate the average alcohol percentage across all wines in the dataset. Exclude np.nan values if present.

In [69]:
np.average(data[0:,10][~np.isnan(data[0:,10])])

10.422984

In [71]:
np.nanmean(data[0:, 10])

10.422983

In [39]:
print(data[:, 10])

[ nan  9.4  9.8 ... 11.  10.2 11. ]

5. Compute various statistical measures (minimum, maximum, 25th percentile, 50th percentile, 75th percentile and the mean for the pH values).

In [92]:
perc50=np.percentile(data[0:,8][~np.isnan(data[0:,8])], 50, axis=0)
perc25=np.percentile(data[0:,8][~np.isnan(data[0:,8])], 25, axis=0)
perc75=np.percentile(data[0:,8][~np.isnan(data[0:,8])], 75, axis=0)
print(perc50, perc25, perc75)

3.309999942779541 3.2100000381469727 3.4000000953674316

In [96]:
np.mean(data[0:,8][~np.isnan(data[0:,8])])

3.3111134

In [98]:
np.min(data[0:,8][~np.isnan(data[0:,8])])

2.74

In [100]:
np.max(data[0:,8][~np.isnan(data[0:,8])])

4.01

6. Find the average quality score of wines with the 20% least sulphate content.

In [135]:
sulph=data[:,9][~np.isnan(data[0:,9])]
quality=data[:,11][~np.isnan(data[0:,11])]
sulph_20=np.percentile(sulph,20, axis=0)

In [137]:
print(sulph_20)

0.5400000214576721

In [139]:
low_sulph_quality=quality[sulph<=sulph_20]
avg_low_sulph=np.mean(low_sulph_quality)

In [141]:
print(avg_low_sulph)

5.216216

7. Compute the mean of all variables for wines with the best quality. Also, do the same for wines with the worst quality.

In [164]:
best=np.percentile(data[0:,11][~np.isnan(data[0:,11])], 90, axis=0)
print(best)

7.0

In [168]:
worst=np.percentile(data[0:,11][~np.isnan(data[0:,11])], 10, axis=0)
print(worst)

5.0

In [212]:
np.mean(data[best<=data[0:,11]], axis=0 )

array([ 8.847004  ,  0.40553004,  0.3764977 ,  2.7087555 ,  0.07591248,
       13.981566  , 34.8894    ,  0.99603045,  3.2888021 ,  0.7434562 ,
       11.518052  ,  7.082949  ], dtype=float32)

In [214]:
np.mean(data[worst>=data[0:,11]], axis=0 )

array([ 8.14221   ,  0.58950305,  0.23775515,  2.5420709 ,  0.0929893 ,
       16.567204  , 54.64516   ,  0.9970677 ,  3.3116534 ,  0.6185347 ,
        9.926473  ,  4.9018817 ], dtype=float32)

This exercise focuses on utilizing permutations and complex computations.

A Football tournament is underway in your city involving 10 teams. The tournament director seeks an engaging first round and has delegated the pairing decisions to you.

Leveraging your expertise as a former data scientist, you've developed a predictive model based on teams' current season performance. This model forecasts the score difference between any two teams.

The model generates a 2-dimensional array stored in model_forecasts.txt. Each (i, j) entry in this matrix signifies the predicted score difference between Team i and Team j.

The objective is to determine the pairs that will result in the most interesting matches.

If a team wins 7-1 the match is obviously less exciting than a match where the winner wins 2-1. The criteria that corresponds to the pairs that will give the most interesting matches is the pairs that minimize the sum of squared differences

In [234]:
forecast=np.genfromtxt("model_forecasts.txt", dtype=np.float32,delimiter=",",)

In [236]:
print(np.matrix(forecast))

[[  nan -2.3  -4.59 -4.83  3.13  4.13  1.07  2.29  0.44  4.35]
 [ 2.3    nan  3.57 -4.66  2.3  -3.24  3.63  0.41 -2.   -0.77]
 [ 4.59 -3.57   nan  1.47  1.15 -1.16  4.97  4.81  1.86  1.5 ]
 [ 4.83  4.66 -1.47   nan  0.25 -1.9  -0.14  3.89  4.34 -1.42]
 [-3.13 -2.3  -1.15 -0.25   nan  3.9  -2.73  1.23 -4.16  3.33]
 [-4.13  3.24  1.16  1.9  -3.9    nan -0.5   2.96 -2.69 -4.48]
 [-1.07 -3.63 -4.97  0.14  2.73  0.5    nan  4.42 -1.35 -3.95]
 [-2.29 -0.41 -4.81 -3.89 -1.23 -2.96 -4.42   nan  4.49 -0.4 ]
 [-0.44  2.   -1.86 -4.34  4.16  2.69  1.35 -4.49   nan  2.29]
 [-4.35  0.77 -1.5   1.42 -3.33  4.48  3.95  0.4  -2.29   nan]]

In [240]:
sqrt_dif=forecast**2
print(sqrt_dif)

[[          nan 5.2900000e+00 2.1068102e+01 2.3328899e+01 9.7969007e+00
  1.7056900e+01 1.1449001e+00 5.2440996e+00 1.9360000e-01 1.8922499e+01]
 [5.2900000e+00           nan 1.2744900e+01 2.1715599e+01 5.2900000e+00
  1.0497600e+01 1.3176901e+01 1.6810000e-01 4.0000000e+00 5.9289998e-01]
 [2.1068102e+01 1.2744900e+01           nan 2.1609001e+00 1.3225000e+00
  1.3455999e+00 2.4700897e+01 2.3136099e+01 3.4596000e+00 2.2500000e+00]
 [2.3328899e+01 2.1715599e+01 2.1609001e+00           nan 6.2500000e-02
  3.6099999e+00 1.9600000e-02 1.5132101e+01 1.8835602e+01 2.0163999e+00]
 [9.7969007e+00 5.2900000e+00 1.3225000e+00 6.2500000e-02           nan
  1.5210001e+01 7.4528999e+00 1.5129000e+00 1.7305599e+01 1.1088900e+01]
 [1.7056900e+01 1.0497600e+01 1.3455999e+00 3.6099999e+00 1.5210001e+01
            nan 2.5000000e-01 8.7616005e+00 7.2361002e+00 2.0070400e+01]
 [1.1449001e+00 1.3176901e+01 2.4700897e+01 1.9600000e-02 7.4528999e+00
  2.5000000e-01           nan 1.9536400e+01 1.8225001e+00 1.5602500e+01]
 [5.2440996e+00 1.6810000e-01 2.3136099e+01 1.5132101e+01 1.5129000e+00
  8.7616005e+00 1.9536400e+01           nan 2.0160097e+01 1.6000001e-01]
 [1.9360000e-01 4.0000000e+00 3.4596000e+00 1.8835602e+01 1.7305599e+01
  7.2361002e+00 1.8225001e+00 2.0160097e+01           nan 5.2440996e+00]
 [1.8922499e+01 5.9289998e-01 2.2500000e+00 2.0163999e+00 1.1088900e+01
  2.0070400e+01 1.5602500e+01 1.6000001e-01 5.2440996e+00           nan]]

In [246]:
sorted=np.argsort(sqrt_dif, axis=None)

In [248]:
print(sorted)

[36 63 34 43 79 97 71 17 80  8 65 56 91 19  6 60 42 24 52 25 47 74 86 68
 93 39 23 32 92 29 82 28 53 35 81 18 98 89  7 70 41 14 10  1 58 85 46 64
 75 57 40  4 15 51 49 94 12 21 16 61 73 37 45 54 96 69  5 50 84 48 38 83
 90  9 76 67 95 59 78 87  2 20 31 13 27 72  3 30 26 62  0 77 66 55 44 33
 22 11 88 99]

In [254]:
print(sqrt_dif[3,6], sqrt_dif[6,3], sqrt_dif[3,4], sqrt_dif[4,3], sqrt_dif[7,9])

0.0196 0.0196 0.0625 0.0625 0.16000001

In [263]:
rows, cols = np.unravel_index(sorted, (10,10))

In [279]:
index_sorted=np.column_stack((rows,cols))

In [291]:
result=index_sorted[:5,].reshape(2,5)

In [293]:
print(result)

[[3 6 6 3 3]
 [4 4 3 7 9]]